!**/.eslintrc*
node_modules*
dist
build
*.svg
*.ico
*.json
.gitignore
*.md
*.log
*.lock

# postpone fixing lint-errors in not yet used files
FullHeightWrapper.tsx
AboutMe.tsx
Photography.tsx
MarginsLeftRight.tsx
/src/components/LandingPage.tsx
design/*
cypress/plugins/index.js
cypress/support/index.js