/*  ============
    Global Styles
    ============ */

// TODO: remove unused font-weights later
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Raleway:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
  // --main-font: Avenir;
  // --main-font: 'Nunito', sans-serif;
  // --main-font: Muli,sans-serif;
  --main-font: 'Audiowide', cursive;
  // --secondary-font: ProximaNova;
  // --secondary-font: 'Raleway', sans-serif;
  --secondary-font: 'Nunito', sans-serif;
  // --secondary-font: Muli,sans-serif;
}

*,
*::backdrop,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: var(--secondary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #ffffff;
}

/*  ============
    Typography
    ============ */
h1,
h2,
h4 {
  font-family: var(--main-font);
}

h1 {
  font-size: 1.8rem;
  line-height: 1.79;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.79;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5em;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

:root {
  --min-font-size: 0.875rem;
}

p,
a {
  font-size: var(--min-font-size);
  line-height: 1.56;
}

a {
  color: #ffffff;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  white-space: nowrap;
}

.label {
  background-color: rgb(178, 178, 178);
}
/*  ============
    Layout
    ============ */
/*
    Breakpoints
      mobile: width <640
      tablet: width <800
      small-desktop: width <960
      desktop: width >960
    */

:root {
  font-size: 10px;
}

@media only screen and (min-width: 640px) {
  :root {
    font-size: 1.4vw; /* calc(16px * 0.7); */
  }
  h3 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 800px) {
  :root {
    font-size: 1.416vw; /* calc(16px * 0.85); */
  }
  h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 960px) {
  :root {
    font-size: 16px;
  }
  h3 {
    font-size: 1rem;
  }
}

/*  ============
    Components
    ============ */

button,
input {
  font-family: var(--secondary-font);
  font-size: var(--min-font-size);
}

input {
  background-color: rgb(178, 178, 178);
}
